POSTGRES_URL="postgres://default:Qb4O1xoXsWct@ep-orange-shape-a4pxn12h-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:Qb4O1xoXsWct@ep-orange-shape-a4pxn12h-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:Qb4O1xoXsWct@ep-orange-shape-a4pxn12h-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:Qb4O1xoXsWct@ep-orange-shape-a4pxn12h.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-orange-shape-a4pxn12h-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="Qb4O1xoXsWct"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth